/* Small ----------- */
@media only screen and (max-width : 600px) {

	h1.herotext {
		font-size: 3.161em;
		line-height: 1.020em;
		
	}

	#main-nav{
		display: none;
	}


	section #hero{
	  height: 800px;
	  
	  position: absolute;
	  width: 100%;
	  left: 0;
	  top: 50%;
	  margin-top: -355px;  /* half height */
	}



	.navbar-mini-menu {
	  display: block;
	}

	#main{
		display: none;
	}


/*Responsive Menu*/

  .navbar-menu {
    margin: 0;
  }
  

  .navbar-menu .menu {
    display: none;
  }
  
  /* mini menu */
  .navbar-mini-meu {
    display: block;

  }
  

  .navbar-mini-menu .mini-menu-options {
    display: none;
  }

/*Animated Arrow*/

.ArrowPadding{
	
	padding-top:15%;

}

.nav-arrow{
	border-width: 40px 40px 0 40px;
}

/*Typography*/

a{
	color: #FFFFFF;
	text-decoration: none;
}

a:hover{
	color:#FFFFFF;
	text-decoration: underline;
	cursor: pointer;
}



@-webkit-keyframes showSubMenu {
    0% {
      transform: scale(0,0);
    }
  100% {
    transform: scale(1,1);
  }
}

@-webkit-keyframes hideSubMenu {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(0,0);
  }
}
	
}



