/* Small ----------- */
@media only screen and (max-width : 600px) {

	h1.herotext {
		font-size: 3.161em;
		line-height: 1.020em;
		
	}

	#main-nav{
		display: none;
	}


	section #hero{
	  height: 800px;
	  
	  position: absolute;
	  width: 100%;
	  left: 0;
	  top: 50%;
	  margin-top: -355px;  /* half height */
	}



	.navbar-mini-menu {
	  display: block;
	}

	#main{
		display: none;
	}







@-webkit-keyframes showSubMenu {
    0% {
      transform: scale(0,0);
    }
  100% {
    transform: scale(1,1);
  }
}

@-webkit-keyframes hideSubMenu {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(0,0);
  }
}
	
}



