/*<----------General---------->*/ 

body 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#333333;
	background: url("../images/bg.png");
}

.wrapper 
{
	width:960px;  
	clear:both; 
	overflow:auto;
	margin:0 auto; 
}

article 
{
	margin-bottom: 40px;
	overflow: auto;
}


/*<----------General---------->*/ 


/*<----------Typography---------->*/ 
h2 
{
	font-size: 25px; 
	margin-bottom: 10px;
}

h3.callout 
{ 
	font-size:20px; 
	float:left; 
	height:80px; 
	width:500px; 
}
p 
{
	font-size: 16px; 
	line-height: 20px;
}

.box-footer 
{
	font-size: 14px; 
	line-height: 17px;
	color: grey;
}

ul {}

li {
	margin:5px 0 5px 0; 
	padding:5px 0 5px 0;  
	border-bottom: 1px solid grey;
}


/*<----------Typography---------->*/ 


/*<----------Navigation/Header---------->*/ 

header {
	background:black;
}
nav 
{
	background-color:black;
	overflow:hidden;
	color:#cccccc;
	padding:30px 0 30px 0;
}
nav a 
{
	color:#cccccc;
	 text-decoration: none;
	 margin:10px;
	 text-align: center;
}
nav a:hover 
{ 
    background-color: #96DDFC;
    color:#ffffff;
    padding-top:5%;
    padding-bottom:30px;
    overflow: hidden;
   }
   
   /*<----------Navigation/Header---------->*/ 


   /*<----------Hero---------->*/ 
.logo 
{
	float:left; 
	padding:20px 0 20px 0;
}
.socialmediaicons 
{
	float: right;
	width:194px; 
	background: url("../images/socialNav.png");
	background-repeat:no-repeat;
	height:50px;
	background-position: 0 -50px;
	overflow: auto;
	display: block;
	margin-top: 25px;;
}
.socialmediaicons:hover 
{
	background-position: 0 0px;
}
.hero 
{
	clear:both;
}

 /*<----------Hero---------->*/ 

/*<----------CalloutBox---------->*/ 

.request 
{
	height:80px;  
	margin-top: 20px; 
	padding:10px 10px 10px 10px;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}
.QuoteRequest  
{
	float:right;
	margin-top:20px; 
}
.callout 
{
	float:left; 
	width:725px; 
	margin-top:20px; 
}
  
/*<----------CalloutBox---------->*/ 

/*<----------Thumbnails---------->*/ 

.thumbnail 
{ 
	width:290px;  
	float:left;
	display: block;
	margin: 15px;
	
}

#thumb_outer
{
	width:210px;
	
}

#thumb_inner
{
	width:400px;
}



img.frame 
{
	border: solid #E8E8E8 6px; 
	margin: 10px 0 10px 0;
}

a.readmore 
{
	color:skyblue; 
	text-decoration: none;
}

/*<----------Thumbnails---------->*/ 

/*<----------Footer---------->*/ 

footer 
{
	background:black; 
	clear:both;
}

/*<----------Footer---------->*/ 
